<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <%if (session != null && session.logeado === 1) { %>
      <a href="/users/logout">Logout</a>
    <% } %>
    

  </body>
</html>
