<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <form action="/users" method="POST">
        <input type="text" name="usuario" id="usuario">
        <input type="password" name="password" id="password">
        <button>
           Enviar
        </button>
    </form>
</body>
</html>