<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>upload file</title>
</head>
<body>


    <form action="/users/uploadImage" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar" id="avatar">
        <button>
           Enviar
        </button>
    </form>
</body>
</html>